/* <reset> */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

a { 
    color:inherit;
    text-decoration: none;
}
/* </reset> */

:root {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fafaf7;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 1rem;
}

#logo {
    display: flex;
    align-items: end;
}

#logo svg {
    width: 5rem;
    height: 5rem;
}

#logo span {
    font-size: 4rem;
    margin-left: 1rem;
}

.hamburger {
    position: relative;
    width: 4rem;
    height: 4rem;
    font-size: 0.06666rem; /* UPDATE WHEN CHANGING WIDTH: increase or decrease with same percentage */
    margin-left: auto;
    align-self: center;
    cursor: pointer;
    transition-duration: 0.5s;
}

.hamburger .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 8em;
    width: 30em;
    top: 30em;
    background-color: #000;
    left: 0em;
}

.hamburger .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 8em;
    width: 30em;
    top: 30em;
    background-color: #000;
    left: 30em;
}

.hamburger.open .icon-left, 
.hamburger.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
}

.hamburger .icon-left:before,
.hamburger .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30em;
    height: 8em;
    background-color: #000;
    content: "";
    top: -20em;
}

.hamburger .icon-left:after,
.hamburger .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30em;
    height: 8em;
    background-color: #000;
    content: "";
    top: 20em;
}

.hamburger.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4em, 4em);
}

.hamburger.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4em, -4em);
}

.hamburger.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4em, 4em);
}

.hamburger.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4em, -4em);
}
