/* <reset> */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

a { 
    color:inherit;
    text-decoration: none;
}
/* </reset> */

:root {
    font-size: 62.5%; /* 10 px usually */
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0d1116;
    color: #fff;
}

nav {
    padding: 1rem;
}

#logo {
    display: flex;
    align-items: end;
}

#logo svg {
    width: 5rem;
    height: 5rem;
}

#logo span {
    font-size: 4rem;
    margin-left: 1rem;
}
